@charset "UTF-8";

/* Typical Device Brakpoints
-----------------------------
Pequenas telas: ate 600px
Celular: de 600px ate 768px
Tablet: de 768px ate 992px
Desktop: de 992px ate 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) 
{
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;       
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%; 
    }

    section#login > div#formulario > {
        float: left;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);

    }

    section#login {
        width: 950px;        
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%; 
    }

    section#login > div#formulario > {
        float: right;
        width: 50%;
    }   
    
        
}